

.bg-image {
  background-image: url('../../../assets/car.avif');
  background-size: cover;
  background-position: center;

  height: 100vh;
}

.full-width
{
  width: 100%;

}
.form-container {
  background-color:white;
  padding: 15%;
  border-radius: 20px;
}
.main-color
{
  color: #3563E9
}
